.section--styling {
  background-color: rgb(241, 222, 180);
  border: 1px solid #333;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  margin: 15px;
  box-shadow: 8px 8px 3px rgba(46, 23, 6, 0.2);
}

.section__list {
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  list-style: none;
  padding: 15px;
  gap: 15px;
  margin: 0px;
}

.section__img--styling {
  display: flex;
  justify-content: center;
  margin: 15px;
}
