* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-weight: 300;
  padding: 30px;
  margin: 0px;
  background-color: rgb(156, 92, 46);
}

h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

ul {
  margin-top: 5px;
}

p {
  font-weight: 400;
  font-size: 1.2rem;
}

span {
  margin: 5px;
  font-style: normal;
  font-weight: 500;
}
